*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}


.h-ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    padding: 12px 22px;
    background-color: rgba(252, 0, 74, 1);
    color: white;
    border: none;
    border-radius: 12px;
}
.hh{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: black;
}
header{
    padding: 30px 0;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.s1 img{
    width: 100%;
    margin-top: 70px;
}

.s2 h2{
    font-weight: 100;
    margin: 60px 0;
}
.card h2{
    margin: 20px 0;
}
.card h1{
    color: red;
}
.card{
    width: 234px;
    height: 391px;
    border-bottom: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}
.cards{
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}
footer p{
   font-size: 22px;
}
@media(max-width:768px){
    header img{
        display: none;
    }
    header{
        padding: 24px 10px;
    }
}


.men-btn{
    background-color: inherit;
    border: none;
    display: none;
    font-size: 25px;
}



@media(max-width:620px){
    nav{
        display: none;
    }
    .men-btn{
        display: block;
    }
}



.card i{
    background-color: red;
    color: white;
    padding: 12px;
    margin-left: 180px;
}

@media(max-width:560px){
    .cards{
        justify-content: center;
    }
    footer .container{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
}
